<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content=
            "width=device-width, initial-scale=1" />
    <link href=
                  "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity=
                  "sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous" />
    <title>Lab5</title>

</head>
<body>
<div class="container">
    <h1>Welcome to lab5!</h1>
    <h3>All pages:</h3>
    <ul class="list-group">
        <a href="cars" class="list-group-item list-group-item-action">Car information</a>
        <a href="statuses" class="list-group-item list-group-item-action">Statuses</a>
        <a href="records" class="list-group-item list-group-item-action">Theft records</a>
    </ul>
    <h3>Jsons:</h3>
    <ul class="list-group">
        <a href="/api/v1/cars" class="list-group-item list-group-item-action">Car information</a>
        <a href="/api/v1/statuses" class="list-group-item list-group-item-action">Statuses</a>
        <a href="/api/v1/records" class="list-group-item list-group-item-action">Theft records</a>
    </ul>
</div>
</body>
</html>